:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.container {
  width: 100%;
  text-align: center;
}

i.weather-icon {
  font-size: 5em;
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
}

span .wi {
  width: 20px;
  text-align: right;
}

span {
  display: block;
}

span i {
  margin-right: 10px;
}

h2 {
  margin-bottom: 15px;
  font-size: 2em;
}

:host {
  font-weight: bold;
}
